$dark: #2e3554;
$border: 2px solid #d6d8e7;
$whitesmoke: #f5f7f9;

/* media queries */
$small: 360px;
$small-s: 480px;
$medium: 481px;
$medium-s: 786px;
$large: 769px;
$large-s: 1024px;
$big: 1025px;
$big-s: 1200px;
$extra: 1201px;
